nav{
    display:flex;
    padding:0 4px;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    background-color: #FFF7ED;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* position: sticky; */
    /* flex-direction:column; */
    /* justify-content:center; */
    /* justify-content: space-around; */
}
.center-nav{
    display: flex;
    margin: 0 auto;
   gap:20px;
   /* position: sticky; */

}
.center-nav a{
   text-decoration: none;
   color:blue;
   
}
nav button{
    background-color:  #F2F6FF;
    /* text-decoration: none;
    color:blue; */
    padding:9px 20px;
    border-radius: 10px;
    border-style: none;
   
}
nav button a{
    text-decoration: none;
    color:blue;
    font-weight: 600;
    font-size:1rem;
   

}