.recipe-card {
  
  
    /* display: grid; */
    /* grid-template-columns:repeat(3,1fr); */
    background-color: #F2F6FF;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .recipes-container{
     display: grid;
     /* width:90vw; */
     margin: auto;
    grid-template-columns:repeat(1,1fr); 
    gap:30px;
    margin:17px;
    padding:10px 12px;
    justify-items: center;
  }
  .recipe-card:hover {
    transform: translateY(-15px);
  }
  
  .recipe-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  
  .recipe-content {
    padding: 16px;
  }
  
  .recipe-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: blue;
    font-weight: 600;
  }
  
  .recipe-description {
    font-size: 14px;
    color: rgb(8, 8, 149);
    margin-bottom: 16px;
  }
  
  .recipe-btn {
    padding: 10px 20px;
    background-color: #123651;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .recipe-btn:hover {
    background-color: #ff5722;
  }
  .page-container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;  /* Center content horizontally */
    align-items: flex-start;  /* Align items at the top */
    gap: 20px;  /* Space between sections */
    padding: 20px;
  }
  
  .left-sidebar,
  .right-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    background: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: fit-content; 
  }
  
  /* .recipes-container {
    flex: 1; 
    max-width: 800px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px;
  } */
  
  .left-sidebar ul,
  .right-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-sidebar li,
  .right-sidebar li {
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .left-sidebar li:hover,
  .right-sidebar li:hover {
    color: #ff6347; /* Highlight effect */
  }
  