.recipe-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* object-fit: cover; */
    /* display: grid; */
    /* grid-template-columns:repeat(3,1fr); */
    background-color:#fbe5b1;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 
    overflow: hidden;
    transition: transform 0.3s ease;
  }
  .recipe-card :hover{
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
  }
  .recipes-container{
     display: grid;
     /* background-color: #ffffff; */
     
     width: 60%;
     border-radius: 10px;
     /* width:90vw; */
     margin: auto;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    /* grid-template-columns:repeat(1,1fr);  */
    gap:30px;
    /* margin:17px;
    padding:10px 12px; */
    justify-items: center;
  }
  .recipe-card:hover {
    /* transform: translate(50px); */
    /* transform: skew(25deg); */
    transform: translateY(-15px);
       box-shadow: rgba(227, 119, 86, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; 
    /* transition: transform 0.3s ease-in-out; */
  }
  
  .recipe-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 
  .recipe-content {
    padding: 16px;
  }
  
  .recipe-title {
    font-size: 20px;
    margin-bottom: 8px;
    color: blue;
    font-weight: 600;
  }
  
  .recipe-description {
    font-size: 14px;
    color: rgb(8, 8, 149);
    
    margin-bottom: 16px;
  }
  
  .recipe-btn {
    padding: 10px 20px;
    background-color: #f9cf6d;
    color: #ff1601;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .recipe-btn:hover {
    background-color: #f7d00c;
  }
 
   
  
  
  
 
  
  .left-sidebar ul,
  .right-sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .left-sidebar li,
  .right-sidebar li {
    padding: 5px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .left-sidebar li:hover,
  .right-sidebar li:hover {
    color: #ff6347; 
  }
   
   .page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px 0;
    width: 95%;
    margin: auto;
}

.left-sidebar, .right-sidebar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    /* align-items: last baseline; */
    width: 280px;
    /* background: #9a4545; */
    padding: 15px;
    border-radius: 10px;
    position: sticky;
    text-align: center;
    top: 40px;
    height: fit-content;
    max-height: 90vh;
    overflow-y: auto;
    gap: 30px;
}

.sidebar-section {
    background: rgb(253, 244, 244);
    padding: 10px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}
.left-sidebar .sidebar-section:last-child,
.right-sidebar .sidebar-section:last-child {
    margin-top: auto; 
   
}
@media (max-width: 768px) {
  .left-sidebar,
  .right-sidebar {
    display: none; 
  }

  .recipes-container {
    width: 100%; 
  }
}